<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.morethink.dao.AccountDao">

    <update id="out" parameterType="net.morethink.entity.Account">
        update account set money = money - #{money} where name = #{name}
    </update>
    <update id="in" parameterType="net.morethink.entity.Account">
        update account set money = money + #{money} where name = #{name}
    </update>

</mapper>